html, body, nav, ul {
  margin: 0;
  padding: 0;
  border: 0px none;
  vertical-align: baseline;
}
html, body, nav, ul, li, a, a:visited, a:hover, p, h1, h2, h3 {
  font-family: inherit;
}
html {
  font-family: 'Nimbus Sans', sans-serif;
}
body {
  line-height: 1;
}
a, a:visited, a:hover {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
html { background-color: #FFF; }
nav ul { list-style: none; }
nav li {
  background-color: #EEE;
  float: left;
  display: inline-block;
  padding: 8px;
  margin: 7px;
  width: 105px;
  text-align: center;
}
nav li:first-child { margin-left: 0; }
nav {
  height: 3em;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}

@media screen and (min-width: 540px) { body { width: 520px; } }
@media screen and (min-width: 800px) { body { width: 780px; } }
